*{ margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Roboto', sans-serif;}
h1{ font-size: 2em;}
header{
    background-color:white ;
    height: 10vh;
    display: flex;
    border-bottom: 2px solid white;
}
.container{ 
    width: 80%; 
    margin: auto; 
    display: flex;
}

.logo{ text-decoration: none; color: #2b3a42; font-size: 1.5rem; font-weight: 500;}
.banner{
    height: 80vh;
    /* background-color: #2b3a42; */
    background-image: url(image/php-banner.jpg);
    background-size: 100% 80vh;
    display: flex;
}
.banner_title{ font-size: 3em; line-height: 1.2;}
.banner_left{ width: 50%;  color: white; padding: 2%;}

.info li{ font-size: 1.2em; margin-bottom: 1vh; margin-left: 2.5%;}
.banner_left a{ color: white; text-decoration: none;}
.banner_right{ width: 50%; font-size: 2rem;  color: #2b3a42; padding: 2%; display: flex; flex-wrap: wrap;}
.tab{ width: 120px; height: 120px;  background: white; margin: 2%; text-align: center; cursor: pointer; border-radius: 50%; }
.tab:hover{ border:2px double royalblue;}
.tab a i{ font-size: 1.5em; padding-top: 30%; color: royalblue; text-shadow: 1px 1px 1px black;}
@media(max-width:650px)
{
    .container{ width: 98%; margin: auto; display: flex;}
    .banner_left{ width:100%;}
    .banner_right{ width:100%}
        
}
