*{ margin:0; padding:0;}
header{height: 550px; background-color: skyblue;}
header h1{
  padding: 2%; 
  margin-left: 2%; 
  background: chocolate;
  color: white;
  text-transform: uppercase;
  border-radius: 0px 0px 0px 69px;
  box-shadow: 2px 2px 2px black;
}
.banner{ height:300px;}
.banner h2{
  text-align:center;
  line-height:200px;
  font-size:80px;
  color:white;
}
.banner ul{ text-align:center;}
.banner ul li{ display:inline;}
